/* styling the login page*/


/* form {
    border: 3px solid #7c84ec;
    position: absolute;
    background: blue;
} */

.form-login {
    background-color: #318CE7;
    border: 3px solid #7c84ec;
    position: absolute;
}

.box-login {
    padding-top: 50px;
}

button {
    background-color: #dbf113;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 75%;
    float: right;
}

button:hover {
    opacity: 0.8;
}

button.logout {
    width: initial;
}

// css avatar
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

span.psw {
    float: left;
    //padding-top: 16px;
}

.btn btn-outline-success my-2 my-sm-0 {
    width: 40%;
    padding-block: 80px;
}

// Welcome style
.main-text {
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}


/* styling the side bar*/

.sidebar {
    height: 95%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(19, 130, 204);
    overflow-x: hidden;
    padding-top: 16px;
}


/* Style sidebar links */

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}


/* Style links on mouse-over */

.sidebar a:hover {
    color: #f1f1f1;
}


/* Style the main content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
}


/*my style sidebar*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

@import "~bootstrap/scss/bootstrap";